[user]
    name = gux
    email = gux@gunix
    signingkey = # Add your key ID here if signing commits

[core]
    editor = emacs
    pager = less
    whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current

[status]
    short = true
    showUntrackedFiles = all

[diff]
    colorMoved = dimmed-zebra
    context = 3

[merge]
    tool = emacs
    conflictstyle = zdiff3

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --graph --oneline --all
    amend = commit --amend --no-edit
    fixup = commit --fixup
    squash = commit --squash
    aliases = config --get-regexp alias

[log]
    decorate = short
    abbrevCommit = true

[commit]
    verbose = true

# Optional: Configure for SSH if needed
# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/
